.main-container{
    width: 50%;
    padding: 30px;
    background-image: linear-gradient(135deg, #6000b9 25%, #8a2be2 55%, #ae68cd 100%) ;
    color: #f0f8ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.titulo{
    margin: 15px 0 10px 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

.password-container{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
}

.password-container input{
    width: 85%;
    padding: 10px;
    font-family: 'Hanken Grotesk';
    font-size: large;
    border: none;
    outline: none;
    background-color: #e5cdfc;
    color: #42007f;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}

::selection{
  background: #42007f;
  color: #ffeafc;
}

::placeholder{
  color: #42007f;
  opacity: 0.6;
}

.btn-copy{
    width: 10%;
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.btn-copy:active{
    background-color: #cea5f5;
}

button img{
    width: 15px;
}

.password-security{
    margin: 5px 0 0 20px;
    display: flex;
    color: #e6acff;
}

.length-option{
    margin: 20px;
    display: flex;
    height: 30px;
    flex-direction: column;
}
.length-option label{
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.slide{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slide .length-value{
    width: 40px;
    font-size: 20px;
    text-align: center;
    background-color: white;
    color: #42007f;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: calc(100% - 70px);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #42007f;
    border-radius: 5px;
    border: 0px solid #F7FFFB;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #E2E2E2;
    height: 15px;
    width: 5px;
    border-radius: 5px;
    background: #42007f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #42007f;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #42007f;
    border-radius: 5px;
    border: 0px solid #F7FFFB;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #E2E2E2;
    height: 15px;
    width: 5px;
    border-radius: 5px;
    background: #42007f;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #42007f;
    border: 0px solid #F7FFFB;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #42007f;
    border: 0px solid #F7FFFB;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #E2E2E2;
    height: 15px;
    width: 5px;
    border-radius: 5px;
    background: #42007f;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #42007f;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #42007f;
  }

  .checkboxes-area{
    margin: 40px 0 0 40px;
    display: flex;
    flex-wrap: wrap;
  }

  .char-option{
    width: 50%;
    padding: 5px;
    padding-left: calc(25% - 75px);
  }

  .char-option label{
    padding: 0 10px;
    user-select: none;
    -webkit-user-select: none;

  }

  input[type=checkbox]{
    accent-color: #42007f;
  }

  .buttons-div{
    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;
  }

  .btn-generate{
    width: 30%;
    height: 35px;
    background-color: white;
    color: #42007f;
    font-size: 16px;
    font-family: 'Hanken Grotesk', sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

.btn-generate:active{
    background-color: #42007f;
    color: white;
}

.swal2-toast{
  font-size: 13px;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
}

/* MEDIA QUERYS*/
@media screen and (max-width: 1000px){
    .main-container{
      width: 355px;
      height: 395px;
    }
    .password-container input{
      font-size: 14px;
    }

    .slide .length-value{
      font-size: 18px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
    .checkboxes-area{
      margin: 35px 0 0 20px;
    }
    .char-option{
      padding: 5px 0;
    }
}

@media screen and (max-width: 700px){
    input[type=range] {
      width: 70%;
    }
}

@media screen and (max-width: 300px){
    .main-container{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .char-option{
      width: 100%;
    }
    .checkboxes-area{
      margin: 50px 0 0 0;
      display: flex;
      text-align: center;
      align-content: center;
      flex-wrap: wrap;
    }
    .btn-generate{
      width: 50%;
      font-size: medium;
    }
}